body {
  font-family: inter;
}
.search {
  padding: 10px;
  font-size: 24px;
  position: fixed;
  right: 100px;
  top: 30px;
}

input[type="search"] {
  font-style: italic;
  font-size: 16px;
  max-width: 200px;
  padding: 6px;
  border: solid 1px rgba(87, 109, 122, 0.7);
  border-radius: 3px;
}
input[type="submit"] {
  font-size: 16px;
  background-color: rgb(69, 154, 244);
  padding: 7px 20px;
  color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgb(185, 211, 225);
}
.fa-globe {
  color: rgb(87, 109, 122);
}
.weather-info {
  display: inline-block;
  position: relative;
  top: 100px;
  max-width: 300px;
  margin: 0;
  padding: 40px 30px;
  background-color: rgba(69, 154, 244, 0.2);
}

.current-city {
  position: relative;
  top: 130px;
  text-align: center;
  font-size: 40px;
  margin-right: 160px;
}
.current-city-name {
  font-weight: 600;
  text-transform: capitalize;
}
.current-city-date {
  text-align: left;
  font-weight: 400;
  font-size: 36px;
  color: rgb(87, 109, 122);
}
.current-temperature {
  font-size: 46px;
  font-weight: 400;
  text-align: center;
}
#mainIcon {
  max-height: 80px;
}
#currentHumidity,
#currentWind {
  font-weight: 600;
}
.sup {
  color: rgb(69, 154, 244);
  font-size: 26px;
  vertical-align: super;
}
.sup a:link,
a:active,
a:hover a:visited {
  color: rgb(69, 154, 244);
}
.active {
  text-decoration: none;
  color: rgb(87, 109, 122);
  cursor: default;
}

ul {
  list-style: none;
  margin: 0;
}
.current-conditions {
  display: inline-block;
  position: relative;
  top: 100px;
  padding: 51px 20px;
  max-width: 200px;
  margin-bottom: 0;
  color: rgb(87, 109, 122);
  background-color: rgba(69, 154, 244, 0.1);
  font-weight: 400;
}

.five-day-forecast {
  position: relative;
  top: 190px;
  text-align: center;
  margin: 0 auto;
}

.five-day-forecast .col-2 {
  background-color: rgba(69, 154, 244, 0.1);
  padding: 10px;
  margin-right: 5px;
}
.weather-icon {
  width: 40px;
}

.forecast-average-temperature {
  font-size: 26px;
  font-weight: bold;
}
.forecast-night-temperature {
  font-size: 18px;
  color: rgb(87, 109, 122);
  opacity: 0.5;
}
.forecast-day-temperature {
  font-size: 18px;
}
.forecast-day-date {
  font-size: 22px;
  color: rgb(87, 109, 122);
}

.projectLink {
  position: relative;
  top: 210px;
  text-align: center;
  margin-right: 200px;
  font-size: 15px;
}
